@font-face {
  font-family: 'inter';
  src: local('inter'), url(fonts/Inter.ttf) format('truetype');
}
@font-face {
  font-family: 'ionb';
  src: local('ionb'), url(fonts/IONB-Black.woff2) format('woff2');
}


@tailwind base;
@tailwind components;
@tailwind utilities;
